.active{
    background-color: white;
}
.dropbtn {
    background-color: #b22003;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b22003;
    min-width: 160px;
    box-shadow:10px 10px 100px rgba(128,128,128,0.5);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #3e8e41;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

body {
  background: no-repeat local cover black;
  background-image: url("https://www.walldevil.com/wallpapers/a80/black-light-vintage-shadow-wallpaper-image-backround-wallpaperscraft-background-tree-wallpapers-desktop.jpg");
}
 p{
	line-height: 35px;
	box-shadow:10px 10px 100px rgba(128,128,128,0.5);
	padding: 5px;
	border-radius: 4px;
	background: rgba(128,128,128,0.8);
	color:black;
 }
 .thumbfade{
	box-shadow:10px 10px 100px rgba(128,128,128,0.5);
	padding: 5px;
	border-radius: 4px;
	background: rgba(128,128,128,0.5);
 }
 .pull-r{
	float:right;
	margin: 0 0 0 20px;
 }
 .pull-l{
	float:left;
	margin: 0 20px 0 0;
 }
 .pull-m{
	display:block;
	margin:auto;
	max-width:100%;
 }
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(http://fonts.gstatic.com/s/berkshireswash/v5/4RZJjVRPjYnC2939hKCAiiJH4brlqpr7zMNWu0xQjN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}